 body {
    margin: 0 auto;
}

 header {
    display: flex;
     justify-content: flex-end;
     margin: 50px 0 50px 0;
 }

 .container {
     max-width: 800px;
     padding: 0;
     margin: 0 auto;
 }

 form {
     position: relative;
     width: 300px;
     margin: 0 auto;
     height: 42px;
 }
.search {
     height: 42px;
     width: 0;
     padding: 0 42px 0 15px;
     border: none;
     border-bottom: 2px solid transparent;
     outline: none;
     background: transparent;
     transition: .4s cubic-bezier(0, 0.8, 0, 1);
     position: absolute;
     top: 0;
     right: 0;
     z-index: 2;
 }
.search:focus {
     width: 300px;
     z-index: 1;
     border-bottom: 2px solid silver;
 }
.search-btn {
     background: black;
     border-radius: 5px;
     border: none;
     height: 37px;
     width: 75px;
     position: absolute;
     top: 0;
     right: -35px;
     cursor: pointer;
    color: white;
 }
.search-btn:before {
     font-size: 16px;
     color: silver;
 }

 .search-btn-update {
     background: darkslateblue;
     border-radius: 5px;
     border: none;
     height: 27px;
     width: 55px;
     position: absolute;
     top: 9px;
     right: -91px;
     cursor: pointer;
     color: white;
     font-size: 10px;
 }
 .search-btn-update:before {
     font-size: 16px;
     color: silver;
 }

 main {
    display: flex;
     justify-content: center;
 }

 .products {
     display: flex;

 }

 .image-product {
     width: 270px;
     height: 350px;
 }

 .cart-list {
     position: relative;
 }

.product-cart {
    border: solid black 1px;
    position: absolute;
    right: 95px;
    min-width: 300px;
    height: 400px;
    display: block;
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
}

.product-cart-none {
    display: none;
}

.full-price {
    position: fixed;
    top: 488px;
    background-color: silver;
    width: 290px;
}
