 body {
    margin: 0 auto;
}

 header {
    display: flex;
     justify-content: flex-end;
     margin: 50px 0 50px 0;
 }

 .container {
     max-width: 800px;
     padding: 0;
     margin: 0 auto;
 }

 main {
    display: flex;
     justify-content: center;
 }

 .products {
     display: flex;

 }

 .image-product {
     width: 270px;
     height: 350px;
 }

 .cart-list {
     position: relative;
 }

.product-cart {
    border: solid black 1px;
    position: absolute;
    right: 95px;
    min-width: 300px;
    height: 400px;
    display: block;
    z-index: 1;
    background-color: white;
    overflow-y: scroll;
}

.product-cart-none {
    display: none;
}

.full-price {
    position: fixed;
    top: 488px;
    background-color: silver;
    width: 290px;
}
